@import "./all";

footer {
  margin-top: 100px;
  background-image: linear-gradient(
    200deg,
    rgba(138, 196, 76, 0.9) 0%,
    rgba(138, 196, 76, 0.6) 0%
  );
}

footer {
    background-image: linear-gradient(
    200deg, 
    rgba(138, 196, 76, 0.9) 0%,
    rgba(138, 196, 76, 0.6) 0%
  );
}

.mailto {
    text-decoration: none;
    color: $dark;
    &:hover{
        color: #f4f0eb;
    }
}

.footer-legal-links {
    a {
        color: $dark;
        text-decoration: none;
        font-size: 0.9rem;
        &:hover {
            text-decoration: underline;
        }
    }
}